* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    color: #000;
    background-color: rgb(250, 250, 250);
    margin-top: 2vh;
}


nav {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

nav h1 {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}



nav ul {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;

}

nav li {
    width: 100%;
    margin-top: 5px;
    background-color: white;
    flex: 1;
    padding: 2px;
    font-size: 1.2em;
}

header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

header img {
    width: 60%;
    height: auto;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.intro {
    text-align: center;
    font-size: 1.1em;
    margin: 2vw;
    margin-bottom: 100px;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: white;

}

#portfolio h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

.projects {
    width: 90%;
    justify-content: center;
    text-align: center;
}

.projects img {
    width: 100%;
}

.projects .project {
    width: 100%;
    margin: 1vw;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    margin-bottom: 20px;
    margin: 2vw;
}

footer a {
    text-transform: uppercase;
    text-decoration: none;

}

a:hover {
    text-transform: uppercase;
    color: blue;
    font-style: oblique;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact p {
    margin-bottom: 20px;
}

footer nav {
    display: none;
}

@media (min-width: 768px) {

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-left: 2vw;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-right: 5vw;
        list-style-type: none;
        text-transform: uppercase;
        width: auto;
    }

    nav li {
        margin: 0 1vw 0;
        padding: 0;
        font-size: 1em;
        background-color: transparent;
    }

    header {
        display: flex;
        flex-direction: row;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    header h1 {
        margin: 0;
        width: 60%;
        font-size: 1em;
    }

    header img {
        width: 40%;
        height: 40%;
        order: 2;
        margin-right: 2vw;
    }

    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-left: 2vw;
    }

    .projects .project {
        width: calc(50% - 2vw);
        /* 2 columns */
        margin: 1vw;
    }

    footer {
        display: flex;
        width: 100vw;
        flex-direction: row;
        margin: 0;
        justify-content: space-between;
    }

    footer p {
        display: flex;
        width: 100%;
        font-size: 0.8em;
    }

    footer .back-to-top {
        display: none;
    }

    footer nav {
        display: flex;
        margin: 0;
        justify-content: flex-end;
        width: 40%;
    }

    footer ul {
        display: flex;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        justify-content: flex-end;
    }

    footer li {
        margin-right: 0;
        font-size: 0.8em;
    }

    #portfolio {
        margin-top: 50px;
    }

}

@media (min-width: 1024px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    #portfolio {
        margin-top: 80px;
    }

    .projects .project {
        width: calc(33% - 2vw);
        /* 2 columns */
        margin: 1vw;
    }
}